@media (min-width: 576px) {
    #avatar {
        width: 300px;
        height: 300px;
    }
    .row > .col-4 > #resume {
        width: 150px;
        height: 150px;
        background-color: rgba(232, 53, 86, 1);
    }
    
    .row > .col-4 > #my-work {
        width: 150px;
        height: 150px;
        background-color: rgba(97, 208, 212, 1);
    }
    
    .row > .col-4 > #my-skills {
        width: 150px;
        height: 150px;
        background-color: rgba(209, 201, 38, 1);
    }
}
@media (min-width: 768px){
    #avatar {
        width: 270px;
        height: 270px;
    }
    .row > .col-4 > #resume {
        width: 125px;
        height: 125px;
        background-color: rgba(232, 53, 86, 1);
    }
    
    .row > .col-4 > #my-work {
        width: 125px;
        height: 125px;
        background-color: rgba(97, 208, 212, 1);
    }
    
    .row > .col-4 > #my-skills {
        width: 125px;
        height: 125px;
        background-color: rgba(209, 201, 38, 1);
    }
    
    .order-last > h1 {
        font-size: 48px;
        font-weight: 300;
    }
    
    .order-last > h5 {
        font-size: 28px;
        font-weight: 300;
    }
    
    .order-last #intro {
        font-size: 15px;
        font-weight: 300;
    }
}
@media (min-width: 992px){
    #avatar {
        width: 400px;
        height: 400px;
    }
    .row > .col-4 > #resume {
        width: 150px;
        height: 150px;
        background-color: rgba(232, 53, 86, 1);
    }
    
    .row > .col-4 > #my-work {
        width: 150px;
        height: 150px;
        background-color: rgba(97, 208, 212, 1);
    }
    
    .row > .col-4 > #my-skills {
        width: 150px;
        height: 150px;
        background-color: rgba(209, 201, 38, 1);
    }
    .order-last > h1 {
        font-size: 72px;
        font-weight: 300;
    }
    
    .order-last > h5 {
        font-size: 38px;
        font-weight: 300;
    }
    
    .order-last #intro {
        font-size: 18px;
        font-weight: 300;
    }
}