.experience-text {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}

.experience-text::after {
  content: "";
  display: block;
  height: 1px;
  width: 256px;
  background-color: #D8C3A4;
  position: relative;
  top: 2px;
  margin-left: 20px;
}

.experience {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.workplace-list {
  display: block;
  position: relative;
  width: max-content;
  z-index: 3;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.workplace {
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 42px;
  text-align: left;
  white-space: nowrap;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 13px;
  color: #8E8D89;
  text-decoration: none;
  padding: 0px 20px 2px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  border-left: 2px solid #C6C6C4;
}

.workplace:hover {
  border-left: 3px solid #E88073;
  color: #E88073;
}

.workdescription-list {
  display: block;
  position: relative;
  width: max-content;
  z-index: 3;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.workdescription {
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  text-align: left;
  white-space: nowrap;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 13px;
  color: #8E8D89;
  text-decoration: none;
  padding: 0px 20px 2px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.works-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  overflow: hidden;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}

.works::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #E88073;
  font-size: 14px;
  line-height: 12px;
}

button {
  cursor: pointer;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 0px;
}