<!-- About Section -->
<section>
  <div id="about" class="container d-flex vh-100 align-items-center">
    <div class="row text-left">
      <h2 class="my-1 about-text mb-4" style="color: #D8C3A4;"><span style="font-size: small; color: #E88073; padding-right: 8px;">1.</span>About</h2>
      <div class="col-lg-8 mx-auto">
        <p class="mx-auto mt-8 mb-4" style="color: #8E8D89;">I am a Mobile Applications Developer with a passion for 
          frontend design and development based in Dhaka. I enjoys building 
          hardwares and software applications that are connected to the internet. I develop 
          exceptional apps that provide intuitive, pixel-perfect user interfaces with 
          efficient and modern backends.</p>
        <p class="mx-auto mt-2 mb-4" style="color: #8E8D89;">I  completed my bachelors from <a class="links" href="http://www.northsouth.edu" target="_blank" rel="nofollow noopener noreferrer"><span style="color: #E88073;">North South University</span></a>, and currently persuing
          my masters from <a class="links" href="https://www.uiu.ac.bd" target="_blank" rel="nofollow noopener noreferrer"><span style="color: #E88073;">United International University</span></a> majoring on Data Science 🔥.</p>
        <p class="mx-auto mt-2 mb-4" style="color: #8E8D89;">I am currently working at <a class="links" href="http://www.vumobile.biz" target="_blank" rel="nofollow noopener noreferrer"><span style="color: #E88073;">VU Mobile</span></a>, as a Mobile App Developer.</p>
        <p class="mx-auto mt-2 mb-4" style="color: #8E8D89;">Here are a few technologies I've been working with recently:</p>
        <ul class="skills-list">
          <li class="skills">Flutter</li>
          <li class="skills">HTML5 &amp; CSS3</li>
          <li class="skills">Node.js</li>
          <li class="skills">PHP</li>
          <li class="skills">MySQL</li>
          <li class="skills">Angular</li>
          <li class="skills">Python</li>
          <li class="skills">Adobe XD &amp; Illustrator</li>
        </ul>
      </div>
      <div class="col-lg-4 mx-auto my-auto text-right">
        <img src="assets/taki-uddin-2.jpg" class="img-fluid me" alt="Taki Uddin" width="256" height="256" no-repeat> 
      </div>
    </div>
    <img src="img/ipad.png" class="img-fluid" alt="">
  </div>
</section>