<nav class="navbar navbar-expand-md fixed-top shadow-sm">
    <a class="navbar-brand mx-3" href="index.html">
        <img src="assets/takiuddin_logo.png" class="img-fluid" alt="Taki Uddin _ Logo" no-repeat> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <!-- <li class="nav-item  mx-3">
                <a class="nav-link" href="#"><span>1.</span>About</a>
            </li>
            <li class="nav-item  mx-3">
                <a class="nav-link" href="#"><span>2.</span>Experience</a>
            </li>
            <li class="nav-item  mx-3">
                <a class="nav-link" href="#"><span>3.</span>Work</a>
            </li>
            <li class="nav-item  mx-3">
                <a class="nav-link" href="#"><span>4.</span>Contact</a>
            </li> -->
            <li class="nav-item  mx-3">
                <a href="assets/taki_uddin_cv.pdf" target="_blank" class="btn btn-outline-primary mx-3">Resume</a>
            </li>
        </ul>        
    </div>
</nav>
