<!-- About Section -->
<section>
  <div id="introduction" class="container-fluid">
    <div class=" row d-flex vh-100 align-items-center">
      <div class="col-md-1"></div>
      <div class="col-md-5 mx-auto text-left">
        <p class="mx-auto mb-1 display-6 title">Hi, my name is</p>
        <p class="mx-auto my-0 text-uppercase display-1 name">Taki Uddin</p>
        <p class="mx-auto mt-1 subtitle">I love building smart things.</p>
        <p class="mx-auto my-4 details">I am a Mobile Applications Developer based in Dhaka, specializing in designing and building exceptional, high-quality applications.</p>
        <a href="mailto:me@takiuddin.com" class="btn btn-outline-primary mt-1 contactText">Get In Touch</a>
      </div>
      <div class="col-md-6">
        <img src="assets/taki-uddin-1.jpg" width="702.75" height="937"class="img-fluid me" alt="Taki Uddin" no-repeat> 
      </div>
    </div>
  </div>
</section>